*.aux
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.mp4
*.zip
*.fdb_latexmk
.idea/
Seminar/
articles_raw_data/
embeddings/
embeddings_similarity/
.DS_Store
src/API_credentials/
.env
src/bert_model/
data/all_sentences.txt